[submodule "themes/jane"]
	path = themes/jane
	url = https://github.com/xianmin/hugo-theme-jane
[submodule "public"]
	path = public
	url = git@github.com:zhuangsheng/zhuangsheng.github.io.git
	branch = master
